.navbar {
    background-color: $bgr-menu;

    .navbar-img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $pad;

        .fas {
            font-size: 50px;
            color: $basic-color;

            &:hover {
                color: $btn-color;
                cursor: pointer;
            }
        }
    }
}

.menu {
    display: none;
    list-style: none;
    padding-left: 0;
    padding-top: $pad - 10;
    margin: 0;

    .menu-item {
        padding: $pad - 10;
        display: block;
        width: 100%;
        text-decoration: none;
        color: $btn-color;

        &:hover,
        &:focus {
            color: $basic-color;
            background-color: $bth-hover;
            transition: 0.3s ease-in-out;
        }
    }
}
