.pricing {
    padding: $pad;
}

.price-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: $pad - 10;
    padding: $pad 0;
    margin: 0;

    .price-list-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: $text-size;
        border-bottom: 1px dotted $link-color;
        padding-bottom: $pad - 15;
    }
}

.price-list-title {
    margin: 0;
    text-align: center;
    padding-bottom: $pad - 10;
}


.price-list-img {
    display: block;
    width: 100%;
}