.top-btn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    font-size: $font-basic + 0.5rem;
    background-color: $btn-color;
    color: black;
    cursor: pointer;
    padding: $pad - 5;

    &:hover {
        background-color: $bth-hover;
        color: $basic-color;
    }
}
