.about-pete {
    padding: $pad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bgr-about;

        .about-title {
            margin: 0;
            padding-bottom: $pad - 10;
        }

        .about-info {
            line-height: 1.8;
            font-size: $text-size;
        }
}

.about-img {
    display: block;
    border: 2px dotted $border-color;
    padding: $pad - 12;
    border-radius: 50%;
    width: 50%;
}

