footer {
    @include footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.2rem;
}

.tel-contact {
    color: rgb(243, 230, 230);

    &:hover,
    &:focus {
        color: $link-color;
    }
}

.footer-title {
    color: $btn-color;
    text-transform: uppercase;
    font-weight: 700;
    margin: 8px 0;
    letter-spacing: 0.5rem;
}

.footer-map {
    display: block;
    width: 100%;
}